@model List<CheeseMVC.Models.CheeseCategory>


<ul>
    @foreach (var category in Model)
    {
        <li>
<<<<<<< HEAD
            <a asp-controller="Cheese" asp-action="Category" asp-route-id="@category.ID">@category.Name</a>
=======
            <ul asp-controller="Cheese" asp-action="Category" asp-route-id="@category.ID">@category.Name</ul>
>>>>>>> 4cc2b86d14f3582b54ec9081835a975de360afd4
        </li>
    }

</ul>

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>

